[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment HeKant.zipHeKant.zip257 KB
Type=Link
URL=https://mail.google.com/mail/u/1?ui=2&ik=d2355cd325&attid=0.1&permmsgid=msg-f:1650093256650409618&th=16e64f1308ea4692&view=att&disp=safe&realattid=f_k2xbh0fm1
Icon=text-html
